<div class="col-md-12">
  <!--<h4>選擇客戶：</h4>
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3" *ngFor="let customer of customerInfo">
      <button type="button" class="btn btn-primary btn-block" (click)="selectedCustomers = customer.customerID" [ngClass]="{'isSelect':selectedCustomers == customer.customerID}">{{customer.customerName}}</button>
    </div>
  </div>-->
  <app-customer-select (customerChange)="selectedCustomers=$event"></app-customer-select>
  <div *ngIf="selectedCustomers != null">
    <h4>選擇布種：</h4>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-3" *ngFor="let productName of productInfo">
        <button type="button" class="select btn btn-primary btn-block" [ngClass]="{'isSelect':selectedProductID.includes(productName.productID)}"
          (click)="onProductSelect(productName.productID)">{{productName.productName}}</button>
      </div>
    </div>
    <div class="margin-20">
      <button type="submit" class="btn btn-primary pull-right" (click)="onGetSelectedTextile()">確認</button>
    </div>
    <div *ngIf="textileInfoList.length != 0" class="container-fluid">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <table class="table table-hover table-active col-xs-12 col-sm-12 col-md-12">
            <thead>
              <tr>
                <th>名稱</th>
                <th>顏色</th>
                <th>重量</th>
                <th>價格</th>
                <th>成本</th>
                <th>存放地</th>
              </tr>
            </thead>
            <tr [ngClass]="{'danger':selectedTextile.includes(textileEl)}" (click)="onSelectTextile(textileEl)" *ngFor="let textileEl of textileInfoList">
              <td>{{textileEl.textileName}}</td>
              <td> <button type="button" (click)="setPopWindow(textileEl)" class="btn btn-info btn" data-toggle="modal" data-target="#myModal">{{textileEl.textileColor}}</button></td>
              <td>{{textileEl.weight}}</td>
              <td>{{textileEl.price}}</td>
              <td>{{textileEl.cost}}</td>
              <td>{{textileEl.stored}}</td>

            </tr>
          </table>
        </div>
        <button class="btn btn-primary pull-right" (click)="sendShipment()">出貨</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade in" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">設定價格</h4>
      </div>
      <div *ngIf="changeTextileEl != null" class="modal-body">
        <p>{{changeTextileEl.textileName}} {{changeTextileEl.textileColor}}的價格： </p>
        <input type="text" [(ngModel)]="textilePrice">
      </div>
      <div class="modal-footer">
        <button type="button" (click)="changeTextilePrice(changeTextileEl)" class="btn btn-default" data-dismiss="modal">確認</button>
      </div>
    </div>

  </div>
</div>
