<div class="container-fluid testimonial-group">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-3 col-md-2">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>TextileID</th>
            <th>ProductID</th>
            <th>ImportUser</th>
            <th>TextileName</th>
            <th>TextileColor</th>
            <th>TextileSpecification</th>
            <th>Cost</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tr *ngFor="let textileEl of textileInfo">
          <td>{{textileEl.textileID}}</td>
          <td>{{textileEl.productID}}</td>
          <td>{{textileEl.importUser}}</td>
          <td>{{textileEl.textileName}}</td>
          <td>{{textileEl.textileColor}}</td>
          <td>{{textileEl.textileSpecification}}</td>
          <td>{{textileEl.cost}}</td>
          <td>{{textileEl.weight}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
