<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <table class="table table-hover table-striped col-xs-12 col-sm-12 col-md-12">
        <thead>
          <tr>

            <th>名稱</th>
            <th>顏色</th>
            <th>規格</th>
            <th>成本</th>
            <th>重量</th>
            <th>存放地</th>
            <th>註記</th>
          </tr>
        </thead>
        <tr *ngFor="let textileEl of textileInfo" (click)="toggle(textileEl.textileID)" (keypress)="textChange(textileEl)">
          <!--<td>{{textileEl.textileID}}</td>
          <td>{{textileEl.productID}}</td>-->
          <!--<td *ngIf="textileEl.textileID != editRowId">{{textileEl.importUser}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.importUser" /></td>-->
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.textileName}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.textileName" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.textileColor}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.textileColor" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.textileSpecification}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.textileSpecification" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.cost}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.cost" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.weight}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.weight" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.stored}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.stored" /></td>
          <td *ngIf="textileEl.textileID != editRowId">{{textileEl.Remark}}</td>
          <td *ngIf="textileEl.textileID == editRowId"><input type="text" [(ngModel)]="textileEl.Remark" /></td>
          <!--<input type="text" [ngModel]="mymodel"  (ngModelChange)="textChange(textileEl)" /> {{mymodel}}-->
        </tr>
      </table>
    </div>
    <button class="btn btn-primary pull-right" (click)="sendChange()">Send</button>
  </div>
</div>
