<div class="container-fluid testimonial-group">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-3 col-md-2" *ngFor="let textileEl of textileInfo">
      <button type="button" class="btn btn-block btn-outline btn-info"  routerLink="edit/{{textileEl.productID}}">{{textileEl.textileName}}</button>
       <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Color</th>
            <th>Amount</th>
          </tr>
        </thead>
          <tr *ngFor="let textileDetailEl of textileEl.textileInfo">
            <td>{{textileDetailEl.textileColor}}</td>
            <td>{{textileDetailEl.amount}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>