/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-12 {
  display: inline-block;
  float: none;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

/* Decorations */
.col-xs-12 {   padding-bottom: 20px; padding-top: 18px; }
/*.col-xs-12:nth-child(3n+1) { background: #c69; }
.col-xs-12:nth-child(3n+2) { background: #9c6; }
.col-xs-12:nth-child(3n+3) { background: #69c; }*/