<div class="container-fluid testimonial-group">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-3 col-md-2" *ngFor="let textileEl of textileInfo">{{textileEl.TextileName}}
       <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Color</th>
            <th>Amount</th>
          </tr>
        </thead>
          <tr *ngFor="let textileDetailEl of textileEl.TextileDetail">
            <td>{{textileDetailEl.Color}}</td>
            <td>{{textileDetailEl.Amount}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
