<div [formGroup]="textileForm">
  <!--<div class="form-group col-md-1">
    <label>ProductID</label>
    <input type="text" class="form-control" formControlName="productID">
    <small [hidden]="textileForm.controls.productID.valid" class="text-danger">
            ProductID is required
        </small>
  </div>-->
  <!--<div class="form-group col-md-1">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="textileName">
  </div>-->
  <div class="form-group col-md-2">
    <label>顏色</label>
    <input type="text" class="form-control" formControlName="textileColor">
  </div>
  <div class="form-group col-md-2">
    <label>規格</label>
    <input type="text" class="form-control" formControlName="textileSpecification">
  </div>
  <div class="form-group col-md-2">
    <label>成本</label>
    <input type="text" class="form-control" formControlName="cost">
  </div>
  <div class="form-group col-md-2">
    <label>重量</label>
    <input type="text" class="form-control" formControlName="weight">
  </div>
  <div class="form-group col-md-2">
    <label>存放地</label>
    <input type="text" class="form-control" formControlName="stored">
  </div>
   <div class="form-group col-md-2">
    <label>註記</label>
    <input type="text" class="form-control" formControlName="remark">
  </div>  
</div>
