<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleState()" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">宏羿</a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLink]="['/home']"><a>首頁</a></li>
        <li routerLinkActive="active" class="dropdown" (mouseleave)="leave('textile')" (mouseenter)="over('textile')" [ngClass]="{ 'open': textileIsOpen == true }">
          <a class="dropdown-toggle" data-toggle="dropdown">布種<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/textile']">所有布</a></li>
            <li><a [routerLink]="['/textile/add']">新增布</a></li>
          </ul>
        </li>
        <li routerLinkActive="active" class="dropdown" (mouseleave)="leave('customer')" (mouseenter)="over('customer')" [ngClass]="{ 'open': customerIsOpen == true }">
          <a class="dropdown-toggle" data-toggle="dropdown">客戶<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/customer']">所有客戶</a></li>
          </ul>
        </li>
        <li routerLinkActive="active" [routerLink]="['/product']"><a>品名</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="isLogin == true"><span class="glyphicon glyphicon-user"></span> User Info</a></li>
        <li>
          <a *ngIf="isLogin == false" [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <a *ngIf="isLogin == true" [routerLink]="['/']"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
